footer {
    margin-top: 50px;

    svg {
        margin: 10px 5px 10px 5px;
    }

    .datosFooter {
        grid-area: datosFooter;
        text-align: center;

        @media(min-width:768px) {
            text-align: left;
        }

        @media(min-width:1024px) {
            text-align: left;
        }
    }

    .iconosRedes {
        grid-area: iconosRedes;
    }

    .copyright {
        grid-area: copyright;
    }

    @media(min-width:768px) {
        .grillaFooter {
            display: grid;
            grid-template-areas:
                "datosFooter iconosRedes"
                "datosFooter copyright";
        }
    }

    @media(min-width:1024px) {
        .grillaFooter {
            display: grid;
            grid-template-areas:
                "datosFooter iconosRedes copyright";
        }
    }
}